<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="container-flex-row">
                    <a href="singup.html" type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    </a>
                </div>
                <h1>Verify phone number</h1>
                <p>Join now for free ride credit</p>
                <hr>
                <strong> LAB - </strong>
                <input type="text" id="code" maxlength="3">
                <p class="margin_text">Enter the code sent to +52</p>
                <div>
                    <button type="submit" id="resend" class="btn_resend margin_resend">Resend code</button>


                </div>

                <button type="submit" id="singup" class="btn btn_padding" disabled>NEXT</button>

            </div>

        </div>
    </div>


    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/singup2.js"></script>
</body>

</html>