<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register</title>
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="container-flex-row">
          <a href="register.html" type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
          </a>
        </div>
        <h1>Sing Up</h1>
        <p>Join now for free ride credit</p>
        <hr>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle  pd_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img src="../assets/images/paices/mexico.png" class="banderas">
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#" title="Select this card">
                <img src="../assets/images/paices/ecuador.png" class="banderas">
              </a>
            </li>
            <li>
              <a href="#" title="Select this card">
                <img src="../assets/images/paices/peru.jpg" class="banderas">
              </a>
            </li>
            <hr>
            <li>
              <a href="#" title="Select this card">
                <img src="../assets/images/paices/us.png" class="banderas">
              </a>
            </li>
          </ul>
        </div>
        <input type="text" id="inputTelf" class="form-control mod_input" maxlength="10" placeholder="52 ">
        <p class="margin_text">We'll send a text to verify your phone</p>
        <button type="submit" id="singup" class="btn btn_padding" disabled>NEXT</button>
      </div>

    </div>
  </div>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/singup.js"></script>
</body>

</html>